# mac
*.DS_Store

# ide
.idea
.vscode

# libraries
node_modules

#logs
npm-debug.log

# build
**/*.js
**/*.js.map
**/*.d.ts

# src
!lib/models/Model.d.ts
!lib/models/Model.js
!lib/models/v5/Model.js
!lib/models/Sequelize.d.ts
!lib/models/Sequelize.js
!lib/models/v5/Sequelize.js

# testing
coverage
.nyc_output
!test/tsconfig.mocha.js

# generated browser files
browser
