# mac
*.DS_Store

# ide
.idea

# libraries
node_modules

# cache
.temp
.sass-cache

# testing
coverage
test

# certificates
certificates/*

# js files
**/*.js
**/*.js.map
# expect
!Gruntfile.js

# ..
mock.json
req.xml
