# mac
*.DS_Store

# ide
.idea
.vscode

# libraries
node_modules

#logs
npm-debug.log

# build
**/*.js
**/*.js.map
**/*.d.ts

# src
!lib/hooks/models/Hooks.d.ts
!lib/model/models/Model.d.ts
!lib/model/models/Model.js
!lib/sequelize/models/Sequelize.d.ts
!lib/sequelize/models/Sequelize.js

# testing
coverage
.nyc_output
!test/tsconfig.mocha.js
