files:
  "/var/app/current/certificates/private.crt":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    source: https://s3.eu-central-1.amazonaws.com/intercharge-backend/certificates/private.crt

  "/var/app/current//certificates/private.key":
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    source: https://s3.eu-central-1.amazonaws.com/intercharge-backend/certificates/private.key

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: intercharge-backend
