{
  "option_settings": [
    {
      "namespace": "aws:autoscaling:launchconfiguration",
      "option_name": "EC2KeyName",
      "value": "ec2keypair"
    },
    {
      "namespace": "aws:ec2:vpc",
      "option_name": "VPCId",
      "value": "vpc-cf1404a6"
    },
    {
      "namespace": "aws:ec2:vpc",
      "option_name": "Subnets",
      "value": "subnet-08f63d60"
    },
    {
      "namespace": "aws:ec2:vpc",
      "option_name": "ELBSubnets",
      "value": "subnet-09f63d61"
    },
    {
      "namespace": "aws:autoscaling:launchconfiguration",
      "option_name": "SecurityGroups",
      "value": "sg-9e0493f6"
    }
  ]
}
